body {margin:0;}

#search-bar{
  display:flex;
  margin:1px;
  height: 25px;
}
#search-bar > p {
    flex: 80px 0 0;
}
#search-bar > div {
    flex-grow: 1;
}
#preview{
  display:flex;
  margin:2px;
  border: 1px solid #ddd;
  height: 310px;
}
  
#previewDiv{
  flex-grow: 1;
}
  
  #icons-v{
    flex: 50px 0 0;
    background-color: #bbb;
  }
.icon-bar {
    width: 60px;
}
.icon-bar a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #555;
}
.icon-bar a:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
.icon-bar a:hover {
    background-color: #000 !important;
}
.icon-bar a.btnspace {
    width:15px;
}
.btnrule {
    width: auto;
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #555;
    background-color: #ccc;
    margin-right: 3px;
    margin-left: 3px;
}
.icon-bar a.selected {
    background-color: #555;
}
#previewDiv, #docSrc {
    width: 500px;
    height: 300px;
    overflow: scroll;
    margin: 5px;
}
.rule-bold {
    font-weight: bold;
}
.rule-italic {
    font-style: italic;
}
.rule-underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.rule-uppercase {
    text-transform: uppercase;
}
.rule-para {
    content: '\A';
    white-space: pre;
}
.rule-hidden {
    visibility: hidden;
}

.display-none {
display: none;
}

#selectedText {
padding-bottom: 10px;
}

#history {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

#history td, #history th {
    border: 1px solid #ddd;
    padding: 8px;
}

#history tr:nth-child(even){background-color: #f2f2f2;}

#history tr:hover {background-color: #ddd;}

#history th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c0;
    color: white;
}

.ui.checkbox input:checked:focus~.box:after, .ui.checkbox input:checked:focus~label:after, .ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  opacity: 1;
  color: white;
  background: blue;
}
